body {
 background: #FFBE03;
/* background: #F4C64E;*/
/* background: #F4B720;*/
 font-family: helvetica, arial, "New Rail Alphabet", "Galaxie Polaris";
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
 }


 h1 {
 	padding-top: 20px;
  font-weight: bold;
 	font-size: 48px;
 	color: #670E2C;	
 }

 h2 {
	font-size: 36px;
  padding-top: 15px;

 }

  h3 {
  	padding-top: 20px;
	font-size: 36px;
 }



 p  {
 	font-size: 24px;
 	/*color: #FFFFFF;*/
 	line-height: 36px;
 }

 #logo {
  float: left;
  padding-right: 10px;
 }

 #title {
  float: left;
 }

 #timeTable {
  clear: both;
  float: left;
  padding-top: 45px;
  width: 100%;
 }


 #train-form {
  clear: both;
  padding-top: 20px;
 }


}
